<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# adq-osg: http://ogp.me/ns/fb/adq-osg#">
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
   <meta http-equiv="Content-language" content="pt_br" /> 
   <title><%= yield(:title) + ' | Sistema Trinity de Gestão Comercial' %></title>
   <%= stylesheet_link_tag    "application" %>
   <%= javascript_include_tag "application" %>
   <%= favicon_link_tag 	   "favicon.ico" %>
   <%= csrf_meta_tags %>
</head>
<body>
