<%= render "layouts/pre_header" %>
<div id="wrapper">
	<%= render "layouts/header" %>
	<div id="notices">
		<% if notice %><p><%= notice %></p><% end %>
		<% if alert %>	<p><%= alert %></p><% end %>
	</div>
	<% @claz = controller_name + ' ' + controller_name + '-' + action_name %>
	<div id="main" class="<%= @claz %>">
		<%= yield %>
	</div>
	<%= render "layouts/footer" %>
</div>
<%= render "layouts/pos_footer" %> 
